.profile-picture {
  border-radius: 50%;
  background: #cdcdcd;
  overflow: hidden;
}

.profile-picture .pic {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
