.card-wrapper {
  width: 100%;
  background: #fefefe;
}

.user-card {
  max-width: 700px;
  margin: 0 auto;
  padding: 8px 0;
}

.user-card .profile {
  margin-right: 24px;
}

.user-card button {
  width: 100%;
  margin-top: 4px;
  padding: 2px;
  background-color: white;
  border: 1px solid #cdcdcd;
}
