.image-form input {
  border: none;
  width: 300px;
  border: 1px solid #dedede;
  background: transparent;
  padding: 4px 8px;
}

.search-bar input:focus {
  border: 1px solid #dedede;
  outline: none;
}
