:root {
  --post-border: 1px solid #ddd;
}

.post {
  margin: 8px 0;
  border: var(--post-border);
  border-radius: 4px;
  min-width: 300px;
  background-color: #fefefe;
}

.post header,
.post main {
  padding: 8px 12px;
}

.post header .profile {
  margin-right: 8px;
}

.post header a {
  font: inherit;
  text-decoration: inherit;
  color: inherit;
  font-weight: bold;
  color: #000030;
}

.post header .date,
.post footer span {
  font-size: 80%;
  color: #606060;
}

.post header .options button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.post header .options button:focus {
  border: none;
  outline: none;
}

.post main p {
  color: #505050;
}

.post footer {
  padding: 8px;
}

.post .likes span {
  margin-left: 4px;
}
